@tailwind base;
@tailwind components;
@tailwind utilities;


/* para adulto */
[data-theme="dark"],
[data-theme="light"] {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 1.3rem; /* Aumenta ligeramente el tamaño base */
}

/* para niño */
[data-theme="bumblebee"],
[data-theme="halloween"] {
    font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.2rem;

}
